
Testes/Projects/Academy/Day2
*.2
Testes/Projects/Academy/Desafio01View
Testes/Projects/Academy/DesafioExtraView
Testes/Projects/Academy/T1
Testes/Projects/Academy/TextLibrary
Macro/Plus Time/Plus Time.xcodeproj/project.xcworkspace/xcuserdata/jairojunior.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Testes/Projects/Academy/Day2
